* {
  font-family: "Roboto", sans-serif;
}

#com-dropdown {
  max-height: 250px; 
  overflow: auto;
}

.header {
  text-align: center;
  background-color: #1c3879;
  color: #f9f5eb;
  padding: 40px;
  width: 100%;
}

nav {
  background-color: #607eaa;
  padding: 8px;
}

#fetch-button {
  background-color: #1c3879;
  border-width: 0px;
  width: fit-content;
}

.main-container {
  padding-top: 40px;
  display: flex;
  /*there is a large margin-right in main-container which is likely causing overlap onto graph and graph being cut off*/
}

.row {
  width: 70%;
  display: flex;
}

.table-wrapper-scroll-y my-custom-scrollbar {
  width: 30%;
}

#showCommHeader {
    text-align: center;
    color: #1c3879;
    font-weight: bolder;
}

#currentPrice {
    justify-content: space-evenly;
    color: #1c3879;
    font-weight: bolder;
    width: fit-content;
}

#graph {
  height: 500px;
}

#chart_div {
  height: 450px;
}

/* #chart_div {
  width: 900px;
  height: 500px;
} */

/* #chart_div {
  width: ;
  height: ; --> keep width default, it seems to work but haven't tested on smaller screen sizes yet. mess around with height, currently too short, but only do percentages --> maybe change col-8 sizing, that seems to be correct width without cutting off, still cuts off width - issue might be with div that has col-8 class I think this is causing the cut-off issues so mess around with changing that class and the divs in that area of the html
} */

.footer {
  text-align: center;
  background-color: #1c3879;
  color: #f9f5eb;
}

.my-custom-scrollbar {
  position: relative;
  height: 650px;
  overflow: auto;
}

.table-wrapper-scroll-y {
  display: block;
  width: fit-content;
}

@media (max-width: 992px) {
  html, body {
    overflow-x: hidden;
  }
}

@media (max-width: 530px) {
#StoredButtons {
    margin-left: 30%;
  }
}

@media (max-width: 1200px) {
  aside {
    box-sizing: content-box;
    width: fit-content
  }
}






